.top-section{
    background-image:url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png) ;
    background-size: cover;
    height:30vh;
    padding:40px;
}

.top-heading{
    color:white;
    font-family: caveat;
    font-size: 30px;
}

.bottom-section{
    padding: 20px;
    background-color: #e6f6ff;
    text-align: center;
}

.card-container{
    background-color: white;
    text-align: center;
    padding: 10px;
    height: 160px;
    width: 140px;
    margin: 10px;
    border-radius: 10px;

}

.card-head{
    font-size: 20px;
    font-size: bold;
}